@import "tailwindcss";
@import "tw-animate-css";
 
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    @apply text-[rgba(255,255,255,0.87)] bg-[#242424] font-sans;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

.debug {
outline: 1px solid red;
}
